USE [eomisv2]
GO
/****** Object:  Table [const].[construction_material_test_kind_work_item_mapping]    Script Date: 3/9/2026 10:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [const].[construction_material_test_kind_work_item_mapping](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[work_item_id] [int] NOT NULL,
	[test_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_cmtkwim_work_item_test_kind] UNIQUE NONCLUSTERED 
(
	[work_item_id] ASC,
	[test_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [const].[construction_material_test_kinds]    Script Date: 3/9/2026 10:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [const].[construction_material_test_kinds](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kind_num] [varchar](64) NOT NULL,
	[kind_desc] [varchar](256) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[created_by] [int] NOT NULL,
	[last_updated_at] [datetime2](7) NULL,
	[last_updated_by] [int] NULL,
 CONSTRAINT [PK_construction_material_test_kinds] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [const].[construction_material_test_prices]    Script Date: 3/9/2026 10:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [const].[construction_material_test_prices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[test_id] [int] NOT NULL,
	[unit_price] [decimal](18, 4) NOT NULL,
	[effective_year] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[created_by] [int] NOT NULL,
	[last_updated_at] [datetime2](7) NULL,
	[last_updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_cm_test_prices_test_year] UNIQUE NONCLUSTERED 
(
	[test_id] ASC,
	[effective_year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [const].[construction_material_tests]    Script Date: 3/9/2026 10:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [const].[construction_material_tests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kind_id] [int] NOT NULL,
	[test_num] [varchar](64) NOT NULL,
	[test_desc] [varchar](256) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[created_by] [int] NOT NULL,
	[last_updated_at] [datetime2](7) NULL,
	[last_updated_by] [int] NULL,
	[test_abb] [varchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [const].[pay_items]    Script Date: 3/9/2026 10:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [const].[pay_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[swa_id] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[item_num] [varchar](64) NOT NULL,
	[item_desc] [varchar](256) NOT NULL,
	[measurement_unit] [varchar](64) NOT NULL,
	[quantity] [decimal](18, 4) NOT NULL,
	[amount] [decimal](18, 4) NOT NULL,
	[relative_weight] [decimal](18, 4) NOT NULL,
	[prev_accomplishment_quantity] [decimal](18, 4) NOT NULL,
	[prev_accomplishment_amount] [decimal](18, 4) NOT NULL,
	[this_period_accomplishment_quantity] [decimal](18, 4) NOT NULL,
	[this_period_accomplishment_amount] [decimal](18, 4) NOT NULL,
	[to_date_accomplishment_quantity] [decimal](18, 4) NOT NULL,
	[to_date_accomplishment_amount] [decimal](18, 4) NOT NULL,
	[per_item_percentage_accomplishment] [decimal](18, 4) NOT NULL,
	[overall_percentage_accomplishment] [decimal](18, 4) NOT NULL,
	[remarks] [varchar](128) NOT NULL,
	[before_accomplishment_mov] [varbinary](max) NOT NULL,
	[after_accomplishment_mov] [varbinary](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [const].[payment_order_pay_items]    Script Date: 3/9/2026 10:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [const].[payment_order_pay_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[payment_order_id] [int] NOT NULL,
	[pay_item_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[created_by] [int] NOT NULL,
	[last_updated_at] [datetime2](7) NULL,
	[last_updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [const].[payment_orders]    Script Date: 3/9/2026 10:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [const].[payment_orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[qcp_id] [int] NOT NULL,
	[swa_id] [int] NOT NULL,
	[issuance_date] [datetime2](7) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[created_by] [int] NOT NULL,
	[last_updated_at] [datetime2](7) NULL,
	[last_updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_payment_orders_swa_id] UNIQUE NONCLUSTERED 
(
	[swa_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [const].[projects]    Script Date: 3/9/2026 10:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [const].[projects](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[control_no] [varchar](50) NOT NULL,
	[claimant_id] [int] NOT NULL,
	[claimant_name] [varchar](1000) NOT NULL,
	[as_of_date] [date] NOT NULL,
	[pr_id] [int] NOT NULL,
	[pr_no] [varchar](50) NOT NULL,
	[project_title] [varchar](200) NULL,
	[location] [varchar](200) NULL,
	[date_started] [date] NULL,
	[date_completion] [date] NULL,
	[fund_source] [varchar](50) NULL,
	[claim_amount] [money] NOT NULL,
	[status_code] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [const].[quality_control_program_pay_items]    Script Date: 3/9/2026 10:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [const].[quality_control_program_pay_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[qcp_id] [int] NOT NULL,
	[item_num] [varchar](64) NOT NULL,
	[item_desc] [varchar](256) NOT NULL,
	[measurement_unit] [varchar](256) NOT NULL,
	[quantity] [decimal](18, 4) NOT NULL,
	[minimum_test_requirements] [varchar](128) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[created_by] [int] NOT NULL,
	[last_updated_at] [datetime2](7) NULL,
	[last_updated_by] [int] NULL,
	[group_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [const].[quality_control_program_pay_items_groups]    Script Date: 3/9/2026 10:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [const].[quality_control_program_pay_items_groups](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[group_part] [varchar](64) NOT NULL,
	[group_desc] [varchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [const].[quality_control_programs]    Script Date: 3/9/2026 10:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [const].[quality_control_programs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[created_by] [int] NOT NULL,
	[last_updated_at] [datetime2](7) NULL,
	[last_updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [const].[quality_control_programs_pay_item_tests]    Script Date: 3/9/2026 10:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [const].[quality_control_programs_pay_item_tests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pay_item_id] [int] NOT NULL,
	[test_id] [int] NOT NULL,
	[test_count] [decimal](18, 4) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[created_by] [int] NOT NULL,
	[last_updated_at] [datetime2](7) NULL,
	[last_updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [const].[swa]    Script Date: 3/9/2026 10:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [const].[swa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ctrl_num] [varchar](64) NOT NULL,
	[project_id] [int] NOT NULL,
	[variation_order_id] [int] NOT NULL,
	[time_extension_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [const].[swa_details]    Script Date: 3/9/2026 10:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [const].[swa_details](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SwaId] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[ShopItemID] [int] NOT NULL,
	[ContractQuantity] [money] NULL,
	[ContractUnitCost] [money] NULL,
	[PreviousQty] [money] NULL,
	[AccompQty] [money] NULL,
 CONSTRAINT [PK_TblSwaDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [const].[time_extensions]    Script Date: 3/9/2026 10:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [const].[time_extensions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[time_extension_num] [int] NOT NULL,
	[project_id] [int] NOT NULL,
	[original_completion_date] [datetime2](7) NOT NULL,
	[completion_date] [datetime2](7) NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [const].[variation_orders]    Script Date: 3/9/2026 10:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [const].[variation_orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[variation_num] [int] NOT NULL,
	[project_id] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [const].[construction_material_test_kinds] ADD  CONSTRAINT [DF_cmtk_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [const].[construction_material_test_kinds] ADD  CONSTRAINT [DF_cmtk_last_updated_at]  DEFAULT (sysutcdatetime()) FOR [last_updated_at]
GO
ALTER TABLE [const].[construction_material_test_prices] ADD  CONSTRAINT [DF_cm_test_prices_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [const].[construction_material_test_prices] ADD  CONSTRAINT [DF_cm_test_prices_last_updated_at]  DEFAULT (sysutcdatetime()) FOR [last_updated_at]
GO
ALTER TABLE [const].[construction_material_tests] ADD  CONSTRAINT [DF_cmt_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [const].[construction_material_tests] ADD  CONSTRAINT [DF_cmt_last_updated_at]  DEFAULT (sysutcdatetime()) FOR [last_updated_at]
GO
ALTER TABLE [const].[pay_items] ADD  CONSTRAINT [DF_pay_items_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [const].[payment_order_pay_items] ADD  CONSTRAINT [DF_popi_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [const].[payment_order_pay_items] ADD  CONSTRAINT [DF_popi_last_updated_at]  DEFAULT (sysutcdatetime()) FOR [last_updated_at]
GO
ALTER TABLE [const].[payment_orders] ADD  CONSTRAINT [DF_payment_orders_issuance_date]  DEFAULT (sysutcdatetime()) FOR [issuance_date]
GO
ALTER TABLE [const].[payment_orders] ADD  CONSTRAINT [DF_payment_orders_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [const].[payment_orders] ADD  CONSTRAINT [DF_payment_orders_last_updated_at]  DEFAULT (sysutcdatetime()) FOR [last_updated_at]
GO
ALTER TABLE [const].[quality_control_program_pay_items] ADD  CONSTRAINT [DF_qcp_pi_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [const].[quality_control_program_pay_items] ADD  CONSTRAINT [DF_qcp_pi_last_updated_at]  DEFAULT (sysutcdatetime()) FOR [last_updated_at]
GO
ALTER TABLE [const].[quality_control_programs] ADD  CONSTRAINT [DF_qcp_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [const].[quality_control_programs] ADD  CONSTRAINT [DF_qcp_last_updated_at]  DEFAULT (sysutcdatetime()) FOR [last_updated_at]
GO
ALTER TABLE [const].[quality_control_programs_pay_item_tests] ADD  CONSTRAINT [DF_qcp_pit_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [const].[quality_control_programs_pay_item_tests] ADD  CONSTRAINT [DF_qcp_pit_last_updated_at]  DEFAULT (sysutcdatetime()) FOR [last_updated_at]
GO
ALTER TABLE [const].[time_extensions] ADD  CONSTRAINT [DF_time_extensions_num]  DEFAULT ((0)) FOR [time_extension_num]
GO
ALTER TABLE [const].[time_extensions] ADD  CONSTRAINT [DF_time_extensions_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [const].[variation_orders] ADD  CONSTRAINT [DF_variation_orders_variation_num]  DEFAULT ((0)) FOR [variation_num]
GO
ALTER TABLE [const].[variation_orders] ADD  CONSTRAINT [DF_variation_orders_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [const].[construction_material_test_kind_work_item_mapping]  WITH CHECK ADD  CONSTRAINT [FK_cmtkwim_test_kind] FOREIGN KEY([test_id])
REFERENCES [const].[construction_material_test_kinds] ([id])
GO
ALTER TABLE [const].[construction_material_test_kind_work_item_mapping] CHECK CONSTRAINT [FK_cmtkwim_test_kind]
GO
ALTER TABLE [const].[construction_material_test_kind_work_item_mapping]  WITH CHECK ADD  CONSTRAINT [FK_cmtkwim_work_item] FOREIGN KEY([work_item_id])
REFERENCES [dbo].[work_items] ([id])
GO
ALTER TABLE [const].[construction_material_test_kind_work_item_mapping] CHECK CONSTRAINT [FK_cmtkwim_work_item]
GO
ALTER TABLE [const].[construction_material_test_kinds]  WITH CHECK ADD  CONSTRAINT [FK_cmtk_created_by_users] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [const].[construction_material_test_kinds] CHECK CONSTRAINT [FK_cmtk_created_by_users]
GO
ALTER TABLE [const].[construction_material_test_kinds]  WITH CHECK ADD  CONSTRAINT [FK_cmtk_last_updated_by_users] FOREIGN KEY([last_updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [const].[construction_material_test_kinds] CHECK CONSTRAINT [FK_cmtk_last_updated_by_users]
GO
ALTER TABLE [const].[construction_material_test_prices]  WITH CHECK ADD  CONSTRAINT [FK_cm_test_prices_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [const].[construction_material_test_prices] CHECK CONSTRAINT [FK_cm_test_prices_created_by]
GO
ALTER TABLE [const].[construction_material_test_prices]  WITH CHECK ADD  CONSTRAINT [FK_cm_test_prices_last_updated_by] FOREIGN KEY([last_updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [const].[construction_material_test_prices] CHECK CONSTRAINT [FK_cm_test_prices_last_updated_by]
GO
ALTER TABLE [const].[construction_material_test_prices]  WITH CHECK ADD  CONSTRAINT [FK_cm_test_prices_test] FOREIGN KEY([test_id])
REFERENCES [const].[construction_material_tests] ([id])
GO
ALTER TABLE [const].[construction_material_test_prices] CHECK CONSTRAINT [FK_cm_test_prices_test]
GO
ALTER TABLE [const].[construction_material_tests]  WITH CHECK ADD  CONSTRAINT [FK_cmt_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [const].[construction_material_tests] CHECK CONSTRAINT [FK_cmt_created_by]
GO
ALTER TABLE [const].[construction_material_tests]  WITH CHECK ADD  CONSTRAINT [FK_cmt_kind_id] FOREIGN KEY([kind_id])
REFERENCES [const].[construction_material_test_kinds] ([id])
GO
ALTER TABLE [const].[construction_material_tests] CHECK CONSTRAINT [FK_cmt_kind_id]
GO
ALTER TABLE [const].[construction_material_tests]  WITH CHECK ADD  CONSTRAINT [FK_cmt_last_updated_by] FOREIGN KEY([last_updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [const].[construction_material_tests] CHECK CONSTRAINT [FK_cmt_last_updated_by]
GO
ALTER TABLE [const].[pay_items]  WITH CHECK ADD  CONSTRAINT [FK_pay_items_swa] FOREIGN KEY([swa_id])
REFERENCES [const].[swa] ([id])
GO
ALTER TABLE [const].[pay_items] CHECK CONSTRAINT [FK_pay_items_swa]
GO
ALTER TABLE [const].[payment_order_pay_items]  WITH CHECK ADD  CONSTRAINT [FK_popi_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [const].[payment_order_pay_items] CHECK CONSTRAINT [FK_popi_created_by]
GO
ALTER TABLE [const].[payment_order_pay_items]  WITH CHECK ADD  CONSTRAINT [FK_popi_last_updated_by] FOREIGN KEY([last_updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [const].[payment_order_pay_items] CHECK CONSTRAINT [FK_popi_last_updated_by]
GO
ALTER TABLE [const].[payment_order_pay_items]  WITH CHECK ADD  CONSTRAINT [FK_popi_pay_item] FOREIGN KEY([pay_item_id])
REFERENCES [const].[quality_control_program_pay_items] ([id])
GO
ALTER TABLE [const].[payment_order_pay_items] CHECK CONSTRAINT [FK_popi_pay_item]
GO
ALTER TABLE [const].[payment_order_pay_items]  WITH CHECK ADD  CONSTRAINT [FK_popi_payment_order] FOREIGN KEY([payment_order_id])
REFERENCES [const].[payment_orders] ([id])
GO
ALTER TABLE [const].[payment_order_pay_items] CHECK CONSTRAINT [FK_popi_payment_order]
GO
ALTER TABLE [const].[payment_orders]  WITH CHECK ADD  CONSTRAINT [FK_payment_orders_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [const].[payment_orders] CHECK CONSTRAINT [FK_payment_orders_created_by]
GO
ALTER TABLE [const].[payment_orders]  WITH CHECK ADD  CONSTRAINT [FK_payment_orders_last_updated_by] FOREIGN KEY([last_updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [const].[payment_orders] CHECK CONSTRAINT [FK_payment_orders_last_updated_by]
GO
ALTER TABLE [const].[payment_orders]  WITH CHECK ADD  CONSTRAINT [FK_payment_orders_qcp] FOREIGN KEY([qcp_id])
REFERENCES [const].[quality_control_programs] ([id])
GO
ALTER TABLE [const].[payment_orders] CHECK CONSTRAINT [FK_payment_orders_qcp]
GO
ALTER TABLE [const].[payment_orders]  WITH CHECK ADD  CONSTRAINT [FK_payment_orders_swa] FOREIGN KEY([swa_id])
REFERENCES [const].[swa] ([id])
GO
ALTER TABLE [const].[payment_orders] CHECK CONSTRAINT [FK_payment_orders_swa]
GO
ALTER TABLE [const].[quality_control_program_pay_items]  WITH CHECK ADD  CONSTRAINT [FK_qcp_pi_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [const].[quality_control_program_pay_items] CHECK CONSTRAINT [FK_qcp_pi_created_by]
GO
ALTER TABLE [const].[quality_control_program_pay_items]  WITH CHECK ADD  CONSTRAINT [FK_qcp_pi_group] FOREIGN KEY([group_id])
REFERENCES [const].[quality_control_program_pay_items_groups] ([id])
GO
ALTER TABLE [const].[quality_control_program_pay_items] CHECK CONSTRAINT [FK_qcp_pi_group]
GO
ALTER TABLE [const].[quality_control_program_pay_items]  WITH CHECK ADD  CONSTRAINT [FK_qcp_pi_last_updated_by] FOREIGN KEY([last_updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [const].[quality_control_program_pay_items] CHECK CONSTRAINT [FK_qcp_pi_last_updated_by]
GO
ALTER TABLE [const].[quality_control_program_pay_items]  WITH CHECK ADD  CONSTRAINT [FK_qcp_pi_qcp] FOREIGN KEY([qcp_id])
REFERENCES [const].[quality_control_programs] ([id])
GO
ALTER TABLE [const].[quality_control_program_pay_items] CHECK CONSTRAINT [FK_qcp_pi_qcp]
GO
ALTER TABLE [const].[quality_control_programs]  WITH CHECK ADD  CONSTRAINT [FK_qcp_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [const].[quality_control_programs] CHECK CONSTRAINT [FK_qcp_created_by]
GO
ALTER TABLE [const].[quality_control_programs]  WITH CHECK ADD  CONSTRAINT [FK_qcp_last_updated_by] FOREIGN KEY([last_updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [const].[quality_control_programs] CHECK CONSTRAINT [FK_qcp_last_updated_by]
GO
ALTER TABLE [const].[quality_control_programs]  WITH CHECK ADD  CONSTRAINT [FK_qcp_project] FOREIGN KEY([project_id])
REFERENCES [const].[projects] ([id])
GO
ALTER TABLE [const].[quality_control_programs] CHECK CONSTRAINT [FK_qcp_project]
GO
ALTER TABLE [const].[quality_control_programs_pay_item_tests]  WITH CHECK ADD  CONSTRAINT [FK_qcp_pit_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [const].[quality_control_programs_pay_item_tests] CHECK CONSTRAINT [FK_qcp_pit_created_by]
GO
ALTER TABLE [const].[quality_control_programs_pay_item_tests]  WITH CHECK ADD  CONSTRAINT [FK_qcp_pit_last_updated_by] FOREIGN KEY([last_updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [const].[quality_control_programs_pay_item_tests] CHECK CONSTRAINT [FK_qcp_pit_last_updated_by]
GO
ALTER TABLE [const].[quality_control_programs_pay_item_tests]  WITH CHECK ADD  CONSTRAINT [FK_qcp_pit_pay_item] FOREIGN KEY([pay_item_id])
REFERENCES [const].[quality_control_program_pay_items] ([id])
GO
ALTER TABLE [const].[quality_control_programs_pay_item_tests] CHECK CONSTRAINT [FK_qcp_pit_pay_item]
GO
ALTER TABLE [const].[quality_control_programs_pay_item_tests]  WITH CHECK ADD  CONSTRAINT [FK_qcp_pit_test] FOREIGN KEY([test_id])
REFERENCES [const].[construction_material_tests] ([id])
GO
ALTER TABLE [const].[quality_control_programs_pay_item_tests] CHECK CONSTRAINT [FK_qcp_pit_test]
GO
ALTER TABLE [const].[swa]  WITH CHECK ADD  CONSTRAINT [FK_swa_project] FOREIGN KEY([project_id])
REFERENCES [const].[projects] ([id])
GO
ALTER TABLE [const].[swa] CHECK CONSTRAINT [FK_swa_project]
GO
ALTER TABLE [const].[swa]  WITH CHECK ADD  CONSTRAINT [FK_swa_time_extension] FOREIGN KEY([time_extension_id])
REFERENCES [const].[time_extensions] ([id])
GO
ALTER TABLE [const].[swa] CHECK CONSTRAINT [FK_swa_time_extension]
GO
ALTER TABLE [const].[swa]  WITH CHECK ADD  CONSTRAINT [FK_swa_variation_order] FOREIGN KEY([variation_order_id])
REFERENCES [const].[variation_orders] ([id])
GO
ALTER TABLE [const].[swa] CHECK CONSTRAINT [FK_swa_variation_order]
GO
ALTER TABLE [const].[time_extensions]  WITH CHECK ADD  CONSTRAINT [FK_time_extensions_project] FOREIGN KEY([project_id])
REFERENCES [const].[projects] ([id])
GO
ALTER TABLE [const].[time_extensions] CHECK CONSTRAINT [FK_time_extensions_project]
GO
ALTER TABLE [const].[variation_orders]  WITH CHECK ADD  CONSTRAINT [FK_variation_orders_project] FOREIGN KEY([project_id])
REFERENCES [const].[projects] ([id])
GO
ALTER TABLE [const].[variation_orders] CHECK CONSTRAINT [FK_variation_orders_project]
GO
ALTER TABLE [const].[construction_material_test_prices]  WITH CHECK ADD  CONSTRAINT [CK_cm_test_prices_unit_price] CHECK  (([unit_price]>(0)))
GO
ALTER TABLE [const].[construction_material_test_prices] CHECK CONSTRAINT [CK_cm_test_prices_unit_price]
GO
